<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testrepot" parallel="classes" thread-count="3">
<!--    <listeners>-->
<!--        &lt;!&ndash;失败重跑&ndash;&gt;-->
<!--        &lt;!&ndash;        <listener class-name="com.iiaccount.listener.FailedRetryListener"/>&ndash;&gt;-->
<!--        <listener class-name="org.testng.ITestListener"/>-->
<!--    </listeners>-->


    <test verbose="2" preserve-order="true" name="sumclasstest">

        <classes>
            <class name="com.iiaccout.yiguan.sum"/>
<!--            <class name="com.iiaccout.yiguan.OpenYg"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->


        <!--<?xml version="1.0" encoding="UTF-8"?>-->
        <!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">-->

        <!--<suite name="刘正良的自动化测试测试集">-->

        <!--    <listeners>-->
        <!--        &lt;!&ndash;失败重跑&ndash;&gt;-->
        <!--        <listener class-name="com.iiaccount.listener.FailedRetryListener"/>-->
        <!--    </listeners>-->

        <!--    <test verbose="2" name="IIACCOUNT">-->

        <!--        <classes>-->
        <!--            <class name="com.iiaccout.yiguan.sum"/>-->
        <!--        </classes>-->

        <!--    </test>-->

        <!--</suite>-->