<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="testrepot" parallel="classes" thread-count="3">

    <listeners>
        <!---        <listener class-name="org.uncommons.reportng.HTMLReporter" />-->
        <!--        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />-->
        <listener class-name="com.iiaccount.listener.FailedRetryListener"/>
    </listeners>


    <test verbose="2" preserve-order="true" name="sumclasstest">

        <classes>
            <class name="com.iiaccout.yiguan.sum"/>
            <!--            <class name="com.iiaccout.yiguan.OpenYg"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->

        <!-- s手动启动allure服务 查看html报告 -->
        <!--  allure serve D:/demo/ApiAutoTest-master/target/2020-05/allure-results    -->
